div{
height: 500px;
width: 500px;
}
.contenedor{
    width: 100%;
    height: 100%;
}
.lata{
    display: block;
    background-image: url("lata.png");
    background-repeat: no-repeat;
}
.mapamundi{
    background-image: url("shadow_highlight.png");
    background-repeat: no-repeat;
    position: absolute;
}
.mapa{
    background-image: url("mapa.jpg");
    background-size: 40%;
    background-repeat: no-repeat;
    animation: mover 12s normal infinite linear ;
}
.pegatina{
    background-image: url("pegatina.jpg");
    background-size: 120%;
    background-repeat: no-repeat;
    animation: mover 8s normal infinite linear ;
}
@keyframes mover {
 from{
    background-position: 0%;
}  
 to{
    background-position: 425%;

 } 
}