.titulo{
    font-weight: bold;
   
}
label{
    display: block;
}
.requerido{
    color: red;
}
li{
    list-style: none;
}

li:hover{
background-color: #FF9;
}

ul li input:focus {
    border: 2px solid #E6B700;
  }

  ul li.izquierda, ul li.derecha{
float: none;
width: auto;
  }
  ul li{
      overflow: hidden;
  }
  ul li label.titulo{
      float: left;
      width: 150px;
  }
  ul li div{
      margin-left: 160px;
  }
  .ayuda{
 color: white;
  }
  h2{
      margin-bottom: 0.3em;
  }
  ul li{
      margin:0;
      padding: 1em;
  }
  ul li.botones{
      margin:0;
  }
  ul li label.titulo{
      text-align: right;
      width: 100px;
  }
  ul li div{
      margin-left: 110px;
      overflow: hidden;
  }
  ul li{
      position: relative;
  }
  ul li:hover p.ayuda {
    display: block;
    margin: 0.3em;
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    color: black;
  }