.titulo{
    font-weight: bold;
   
}
label{
    display: block;
}
.requerido{
    color: red;
}
li{
    list-style: none;
}

li:hover{
background-color: #FF9;
}

ul li input:focus {
    border: 2px solid #E6B700;
  }

.titulo{
      float: left;
      width: 150px;

  }

  .ayuda{
 color: white;
  }
 
  ul li{
      margin:0;
      padding: 1em;
  }
  ul li div{
      margin-left: 110px;
      overflow: hidden;
  }
  ul li{
      position: relative;
  }
  ul li:hover p.ayuda {
    display: block;
    margin: 0.3em;
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    color: black;
  }